@{
    ViewData["Title"] = "Home Page";
}

<!--Collection Tab slider-->
<div class="tab-slider-product section">
<div class="container">
<div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12">
<div class="section-header text-center">
    <h2 class="h2 heading-font">New Products</h2>
</div>
<div class="grid-products style3">
<div class="productSlider">
@foreach (var _ in Enumerable.Range(1, 10))
{
    @await Html.PartialAsync("Partial/ProductPartial");
}
</div>
</div>
</div>
</div>
</div>
</div>
<!--Collection Tab slider-->