@{
    ViewData["Title"] = "Home Page";
}

<!--Collection Tab slider-->
<div class="tab-slider-product section">
<div class="container">
<div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12">
<div class="section-header text-center">
    <h2 class="h2 heading-font">Products</h2>
</div>
<div class="grid-products style3">
<div class="productSlider">
<div class="col-12 item">
    <!-- product name -->
    <div class="product-name">
        <a href="product-layout-1.html">Edna Dress</a>
    </div>
    <!-- End product name -->
    <!-- start product image -->
    <div class="product-image">
        <!-- start product image -->
        <a href="product-layout-1.html">
            <!-- image -->
            <img class="primary blur-up lazyload" data-src="/images/product-images/product-image1.jpg" src="/images/product-images/product-image1.jpg" alt="image" title="product">
            <!-- End image -->
            <!-- Hover image -->
            <img class="hover blur-up lazyload" data-src="/images/product-images/product-image1-1.jpg" src="/images/product-images/product-image1-1.jpg" alt="image" title="product">
            <!-- End hover image -->
            <!-- product label -->
            <div class="product-labels rounded">
                <span class="lbl on-sale">Sale</span> <span class="lbl pr-label1">new</span>
            </div>
            <!-- End product label -->
        </a>
        <!-- end product image -->

        <!-- countdown start -->
        <div class="saleTime desktop" data-countdown="2022/03/01"></div>
        <!-- countdown end -->
    </div>
    <!-- end product image -->
    <!-- Start product button -->
    <div class="button-set button-style2">
        <form class="variants add btn-style2" action="#" method="post">
            <button class="btn cartIcon btn-addto-cart" type="button" tabindex="0">
                <i class="icon anm anm-bag-l"></i>
            </button>
        </form>
        <a href="javascript:void(0)" title="Quick View" class="btn-style2 quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
            <i class="icon anm anm-search-plus-r"></i>
        </a>
        <div class="wishlist-btn btn-style2">
            <a class="wishlist add-to-wishlist" href="wishlist.html">
                <i class="icon anm anm-heart-l"></i>
            </a>
        </div>
        <div class="compare-btn btn-style2">
            <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                <i class="icon anm anm-random-r"></i>
            </a>
        </div>
    </div>
    <!-- end product button -->
    <!--start product details -->
    <div class="product-details text-center">
        <!-- product price -->
        <div class="product-price">
            <span class="old-price">$500.00</span>
            <span class="price">$600.00</span>
        </div>
        <!-- End product price -->
        <div class="product-review">
            <i class="font-13 fa fa-star"></i>
            <i class="font-13 fa fa-star"></i>
            <i class="font-13 fa fa-star"></i>
            <i class="font-13 fa fa-star"></i>
            <i class="font-13 fa fa-star"></i>
        </div>
    </div>
    <!-- End product details -->
</div>
<div class="col-12 item">
    <!-- product name -->
    <div class="product-name">
        <a href="product-layout-1.html">Elastic Waist Dress</a>
    </div>
    <!-- End product name -->
    <!-- start product image -->
    <div class="product-image">
        <!-- start product image -->
        <a href="product-layout-1.html">
            <!-- image -->
            <img class="primary blur-up lazyload" data-src="/images/product-images/product-image2.jpg" src="/images/product-images/product-image2.jpg" alt="image" title="product">
            <!-- End image -->
            <!-- Hover image -->
            <img class="hover blur-up lazyload" data-src="/images/product-images/product-image2-1.jpg" src="/images/product-images/product-image2-1.jpg" alt="image" title="product">
            <!-- End hover image -->
        </a>
        <!-- end product image -->
    </div>
    <!-- end product image -->

    <div class="button-set button-style2">
        <form class="variants add btn-style2" action="#" method="post">
            <button class="btn cartIcon btn-addto-cart" type="button" tabindex="0">
                <i class="icon anm anm-bag-l"></i>
            </button>
        </form>
        <a href="javascript:void(0)" title="Quick View" class="btn-style2 quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
            <i class="icon anm anm-search-plus-r"></i>
        </a>
        <div class="wishlist-btn btn-style2">
            <a class="wishlist add-to-wishlist" href="wishlist.html">
                <i class="icon anm anm-heart-l"></i>
            </a>
        </div>
        <div class="compare-btn btn-style2">
            <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                <i class="icon anm anm-random-r"></i>
            </a>
        </div>
    </div>

    <!--start product details -->
    <div class="product-details text-center">
        <!-- product price -->
        <div class="product-price">
            <span class="price">$748.00</span>
        </div>
        <!-- End product price -->
        <div class="product-review">
            <i class="font-13 fa fa-star"></i>
            <i class="font-13 fa fa-star"></i>
            <i class="font-13 fa fa-star"></i>
            <i class="font-13 fa fa-star"></i>
            <i class="font-13 fa fa-star"></i>
        </div>
    </div>
    <!-- End product details -->
</div>
<div class="col-12 item">
    <!-- product name -->
    <div class="product-name">
        <a href="product-layout-1.html">3/4 Sleeve Kimono Dress</a>
    </div>
    <!-- End product name -->
    <!-- start product image -->
    <div class="product-image">
        <!-- start product image -->
        <a href="product-layout-1.html">
            <!-- image -->
            <img class="primary blur-up lazyload" data-src="/images/product-images/product-image3.jpg" src="/images/product-images/product-image3.jpg" alt="image" title="product">
            <!-- End image -->
            <!-- Hover image -->
            <img class="hover blur-up lazyload" data-src="/images/product-images/product-image3-1.jpg" src="/images/product-images/product-image3-1.jpg" alt="image" title="product">
            <!-- End hover image -->
            <!-- product label -->
            <div class="product-labels rectangular">
                <span class="lbl pr-label2">Hot</span>
            </div>
            <!-- End product label -->
        </a>
        <!-- end product image -->
    </div>
    <!-- end product image -->

    <div class="button-set button-style2">
        <form class="variants add btn-style2" action="#" method="post">
            <button class="btn cartIcon btn-addto-cart" type="button" tabindex="0">
                <i class="icon anm anm-bag-l"></i>
            </button>
        </form>
        <a href="javascript:void(0)" title="Quick View" class="btn-style2 quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
            <i class="icon anm anm-search-plus-r"></i>
        </a>
        <div class="wishlist-btn btn-style2">
            <a class="wishlist add-to-wishlist" href="wishlist.html">
                <i class="icon anm anm-heart-l"></i>
            </a>
        </div>
        <div class="compare-btn btn-style2">
            <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                <i class="icon anm anm-random-r"></i>
            </a>
        </div>
    </div>

    <!--start product details -->
    <div class="product-details text-center">
        <!-- product price -->
        <div class="product-price">
            <span class="price">$550.00</span>
        </div>
        <!-- End product price -->

        <div class="product-review">
            <i class="font-13 fa fa-star"></i>
            <i class="font-13 fa fa-star"></i>
            <i class="font-13 fa fa-star"></i>
            <i class="font-13 fa fa-star"></i>
            <i class="font-13 fa fa-star-o"></i>
        </div>
    </div>
    <!-- End product details -->
</div>
<div class="col-12 item">
    <!-- product name -->
    <div class="product-name">
        <a href="product-layout-1.html">Cape Dress</a>
    </div>
    <!-- End product name -->
    <!-- start product image -->
    <div class="product-image">
        <!-- start product image -->
        <a href="product-layout-1.html">
            <!-- image -->
            <img class="primary blur-up lazyload" data-src="/images/product-images/product-image4.jpg" src="/images/product-images/product-image4.jpg" alt="image" title="product"/>
            <!-- End image -->
            <!-- Hover image -->
            <img class="hover blur-up lazyload" data-src="/images/product-images/product-image4-1.jpg" src="/images/product-images/product-image4-1.jpg" alt="image" title="product"/>
            <!-- End hover image -->
            <!-- product label -->
            <div class="product-labels round">
                <span class="lbl on-sale">Sale</span>
            </div>
            <!-- End product label -->
        </a>
        <!-- end product image -->
    </div>
    <!-- end product image -->

    <div class="button-set button-style2">
        <form class="variants add btn-style2" action="#" method="post">
            <button class="btn cartIcon btn-addto-cart" type="button" tabindex="0">
                <i class="icon anm anm-bag-l"></i>
            </button>
        </form>
        <a href="javascript:void(0)" title="Quick View" class="btn-style2 quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
            <i class="icon anm anm-search-plus-r"></i>
        </a>
        <div class="wishlist-btn btn-style2">
            <a class="wishlist add-to-wishlist" href="wishlist.html">
                <i class="icon anm anm-heart-l"></i>
            </a>
        </div>
        <div class="compare-btn btn-style2">
            <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                <i class="icon anm anm-random-r"></i>
            </a>
        </div>
    </div>

    <!--start product details -->
    <div class="product-details text-center">
        <!-- product price -->
        <div class="product-price">
            <span class="old-price">$900.00</span>
            <span class="price">$788.00</span>
        </div>
        <!-- End product price -->

        <div class="product-review">
            <i class="font-13 fa fa-star"></i>
            <i class="font-13 fa fa-star"></i>
            <i class="font-13 fa fa-star"></i>
            <i class="font-13 fa fa-star-o"></i>
            <i class="font-13 fa fa-star-o"></i>
        </div>
    </div>
    <!-- End product details -->
</div>
<div class="col-12 item">
    <!-- product name -->
    <div class="product-name">
        <a href="product-layout-1.html">Paper Dress</a>
    </div>
    <!-- End product name -->
    <!-- start product image -->
    <div class="product-image">
        <!-- start product image -->
        <a href="product-layout-1.html">
            <!-- image -->
            <img class="primary blur-up lazyload" data-src="/images/product-images/product-image5.jpg" src="/images/product-images/product-image5.jpg" alt="image" title="product"/>
            <!-- End image -->
            <!-- Hover image -->
            <img class="hover blur-up lazyload" data-src="/images/product-images/product-image5-1.jpg" src="/images/product-images/product-image5-1.jpg" alt="image" title="product"/>
            <!-- End hover image -->
            <!-- product label -->
            <div class="product-labels">
                <span class="lbl on-sale">Sale</span>
            </div>
            <!-- End product label -->
        </a>
        <!-- end product image -->
    </div>
    <!-- end product image -->

    <div class="button-set button-style2">
        <form class="variants add btn-style2" action="#" method="post">
            <button class="btn cartIcon btn-addto-cart" type="button" tabindex="0">
                <i class="icon anm anm-bag-l"></i>
            </button>
        </form>
        <a href="javascript:void(0)" title="Quick View" class="btn-style2 quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
            <i class="icon anm anm-search-plus-r"></i>
        </a>
        <div class="wishlist-btn btn-style2">
            <a class="wishlist add-to-wishlist" href="wishlist.html">
                <i class="icon anm anm-heart-l"></i>
            </a>
        </div>
        <div class="compare-btn btn-style2">
            <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                <i class="icon anm anm-random-r"></i>
            </a>
        </div>
    </div>

    <!--start product details -->
    <div class="product-details text-center">
        <!-- product price -->
        <div class="product-price">
            <span class="price">$550.00</span>
        </div>
        <!-- End product price -->

        <div class="product-review">
            <i class="font-13 fa fa-star"></i>
            <i class="font-13 fa fa-star"></i>
            <i class="font-13 fa fa-star"></i>
            <i class="font-13 fa fa-star"></i>
            <i class="font-13 fa fa-star"></i>
        </div>
    </div>
    <!-- End product details -->
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!--Collection Tab slider-->