@using Microsoft.AspNetCore.Mvc.TagHelpers
@model eStoreOnline.Application.Models.Products.GetAllProductModel;

<div class="item">
    <!-- product name -->
    <div class="product-name">
        <a href="/Product/@Model.UrlSlug">@Model.ProductName</a>
    </div>
    <!-- End product name -->
    <!-- start product image -->
    <div class="product-image">
        <!-- start product image -->
        <a href="/Product/@Model.UrlSlug">
            <img class="primary blur-up lazyload" data-src="@Model.ImageUrl" src="@Model.ImageUrl" alt="image" title="product">
        </a>
        <!-- end product image -->
    </div>
    <!-- end product image -->
    <!-- Start product button -->
    <div class="button-set button-style2">
        <form class="variants add btn-style2" action="#" method="post">
            <button class="btn cartIcon btn-addto-cart" data-product-id="@Model.Id" type="button" tabindex="0">
                <i class="icon anm anm-bag-l"></i>
            </button>
        </form>
    </div>
    <!-- end product button -->
    <!--start product details -->
    <div class="product-details text-center">
        <!-- product price -->
        <div class="product-price">
            <span class="price">$@Model.Price.ToString("0.00")</span>
        </div>
    </div>
    <!-- End product details -->
</div>

