@using Microsoft.AspNetCore.Mvc.TagHelpers
@model eStoreOnline.Areas.Admin.Models.Product.CreateProductRequestModel

@{
    ViewBag.Title = "Create product";
}

<h1>Create Product</h1>

<div class="card">
    <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6 form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Product name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="UrlSlug">Url Slug</label>
                    <input asp-for="UrlSlug" class="form-control" placeholder="Product name">
                    <span asp-validation-for="UrlSlug" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" class="form-control" placeholder="Description">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="Sku">Sku</label>
                    <input asp-for="Sku" class="form-control" placeholder="SKU Product">
                    <span asp-validation-for="Sku" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="Price">Price</label>
                    <input asp-for="Price" class="form-control" placeholder="Price">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" class="form-control" placeholder="Description" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="Image">File input</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input asp-for="Image" type="file" class="custom-file-input">
                        </div>
                    </div>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary">Add Product</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}