@model ProductIndexViewModel
<!--Collection Banner-->
<div class="collection-header">
    <div class="collection-hero">
        <div class="collection-hero__image">
            <img class="blur-up lazyload" data-src="/images/cat-women2.jpg" src="/images/cat-women2.jpg" alt="Women" title="Women"/>
        </div>
        <div class="collection-hero__title-wrapper">
            <h1 class="collection-hero__title page-width">Find your products</h1>
        </div>
    </div>
</div>
<!--End Collection Banner-->

<div class="container-fluid">
    <div class="row">
        <!--Main Content-->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
            <div class="productList">
                <div class="grid-products grid--view-items">
                    <div class="row">
                        @foreach (var item in Model.RecentProducts)
                        {
                            @await Html.PartialAsync("Partial/ProductPartial", item)
                        }

                        
                    </div>
                    <div class="row justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                @if (Model.PageIndex > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link p-0" href="/Product/@(Model.PageIndex - 1)">&lt;</a>
                                    </li>
                                }
                                @foreach (var item in Model.Pages)
                                {
                                    if (item == "...")
                                    {
                                        <li class="page-item">
                                            <a class="page-link p-0" href="#">@item</a>
                                        </li>
                                    }
                                    else
                                    {
                                        @if (item == @Model.PageIndex.ToString())
                                        {
                                            <li class="page-item active">
                                                <a class="page-link p-0" href="/Product/@item">@item</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item">
                                                <a class="page-link p-0" href="/Product/@item">@item</a>
                                            </li>
                                        }
                                    }
                                }
                                @if (Model.PageIndex < Model.TotalPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link p-0" href="/Product/@(Model.PageIndex + 1)">&gt;</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!--End Main Content-->
        </div>
    </div>
</div>