@model eStoreOnline.Models.Cart.OrderResultModel

@{
    Layout = "_eStoreTemplate";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="page-title">Order Cancelled</h1>
            <p>Your order has been cancelled</p>
            <a href="/" class="btn btn-outline-primary-2 btn-order btn-block">HOME</a>
        </div>
    </div>
</div>